<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button><a href="/">뒤로가기 </a></button>
    <h1>회원가입</h1>

    <table style="">
      <tr>
        <td>
          <input type="text" name="id" id="userId" placeholder="ID">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="password" id="userPw" placeholder="PASSWORD">
        </td>
      </tr>
      <tr>
        <td>
          <textarea input type="text" name="password" id="userAddress" placeholder="주소">
          </textarea>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" name="password" id="userPhoneNumber" placeholder="핸드폰번호">
        </td>
      </tr>





    </table>
    <br>
    <button> 완료 </button>
   
  
  </body>

</html>