<!DOCTYPE html>
<html>
  <head>
    <title>Maria DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav/header') %>
    <h1><%= title %></h1>
    <p><% getUserList %></p>
  </body>
</html>