<!DOCTYPE html>
<html>
  <head>
    <title>Mongo DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button><a href="/">뒤로가기 </a></button>
    <p> Mongo DB 연결 !</p>
  </body>
</html>