</div>
<!-- e: body -->

<!-- s: footer -->
<footer class="footer_container">
    <div class="footer_inner">
        <p class="copyright" style="text-align: center;">COPYRIGHT SK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
<!-- e: footer -->
</div>